*{
    padding: 0;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.container{
    .navigation{
        background-color: black;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 4rem;
        &-logo{
            margin-left: 2rem;
            display: flex;
            align-items: center;
            p{
                font-size: 2rem;
                color: white;
            }
        }
        &-list{
            display: flex;
            justify-content: center;
            align-items: center;
            &-item{
                height: 100%;
                margin-right: 3rem;
                display: flex;
                justify-content: center;
                align-items: center;
                a{
                    color: white;
                    text-decoration: none;
                    &:hover{
                        text-decoration: underline;
                        transition: cubic-bezier(0.075, 0.82, 0.165, 1);
                    }
                }

            }
        }
    }
}